<ul nz-menu [nzMode]="'inline'" style="width: 220px;">
  <li nz-submenu nz-submenu [(nzOpen)]="openMap.sub1" (nzOpenChange)="openHandler('sub1')">
    <span title><i nz-icon type="mail"></i>设置</span>
    <ul>
      <li nz-menu-group>
        <span title>系统设置</span>
        <ul>
          <li nz-menu-item>班级</li>
          <li nz-menu-item>考勤</li>
        </ul>
      </li>
      <li nz-menu-group>
        <span title>个人设置</span>
        <ul>
          <li nz-menu-item>xxx</li>
          <li nz-menu-item>ffff</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nz-submenu [(nzOpen)]="openMap.sub2" (nzOpenChange)="openHandler('sub2')">
    <span title><i nz-icon type="setting"></i>员工管理</span>
    <ul>
      <li nz-menu-item (click)="gotopage('/employeeList')">员工列表</li>
      <li nz-menu-item>添加员工</li>
    </ul>
  </li>
  <li nz-menu-item (click)="openHandlers()">
    <span title><i nz-icon type="setting"></i>企业账户</span>
  </li>
</ul>