<div id="addEmployeeBox" class="rightContentBox">
  <h3>新增员工</h3>
  <div class="addEmployeeInfos anclear">
    <ul class="fl">
      <li>姓名</li>
      <li><input nz-input  [(ngModel)]="employeeName" type="text"></li>
      <li>电话</li>
      <li><input nz-input  [(ngModel)]="employeePhone" (keyup)="employeePhoneChange($event)" type="text"></li>
      <li>出生年月</li>
      <li>
        <nz-date-picker  [(ngModel)]="employeeBirthday"  [nzStyle]="inputTimeStyle"></nz-date-picker>
      </li>
      <li>性别</li>
      <li>
        <nz-radio-group [(ngModel)]="employeeSex">
          <label nz-radio nzValue="1">男</label>
          <label nz-radio nzValue="2">女</label>
        </nz-radio-group>
      </li>
      <li>状态</li>
      <li><input nz-input  [(ngModel)]="employeeState" type="text"></li>
      <div class="addEmployeeAjax">
        <button nz-button nzType="primary" (click)="addEmployeeAjax()">提交</button>
      </div>
    </ul>
    <div class="fr">
      <span class="upLoadFile upLoadFiles"> 
        <img [src]="imgUrl" style="width:100px;height:100px"/>
        <input style="border:1px solid" type="file"(change)="changeTouXiang($event)">原生更换头像
      </span>
    </div>
    
  </div>
</div>
