
@import '../../../assets/css/anPublic';
#employeeListBox{
  padding:10px;
}

#asdf *{
  box-sizing: border-box;
}
#employeeList{
  th{
    padding:16px 6px;
    font-weight: 700;
  }
  td{
    height:28px;
    line-height: 28px;
    padding:4px 6px;
    img{
      @include wh(50px,50px);
       cursor: pointer;
    }
  }
}
.edits{
  a{
    padding:0 2px;
    &:first-child{
      margin-right: 2px;
    }
  }
}
.employeeSearchTop{
  margin-bottom:20px;
  p{
    padding:8px 0;
  }
  input{
    width:200px;
    margin:0 15px 0 5px;
  }
  button{
    padding:0 20px;
    margin:0 10px;
  }
  span{
    a{
      padding:2px 5px;
    }
  }
}
.userHeaderImgBig{
  position: fixed;
  @include position(0,0,0,0);
  background: rgba(0,0,0,0.2);
  z-index: 5000;
  img{
    @include wh(300px,300px);
    @include goodPos(absolute,500);
   
  }
}