<div>
  <h3 class="titleTop">员工列表</h3>
  <nz-table id="employeeList" nzBordered #employeeLists [nzData]="employeeList" [nzFrontPagination]="false" [nzShowPagination]="false"
    [nzScroll]="{ x: '900px', y: '340px' }" [nzWidthConfig]="widthConfig">
    <thead>
      <tr>
        <th nzLeft="0px">编码</th>
        <th nzLeft="200px">姓名</th>
        <th>性别</th>
        <th [nzAlign]="'center'">年龄</th>
        <th>职务</th>
        <th>状态</th>
        <th>备注</th>
        <th nzRight="0px">操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let datas of employeeLists.data;let anIndex = index">
        <tr [hidden]="datas.edit">
          <td nzLeft="0px">{{ datas.bianma }} -------下表是： {{ anIndex }}</td>
          <td nzLeft="200px">{{ datas.name }}</td>
          <td >{{ datas.sex | sex}}</td>
          <td  [nzAlign]="'center'">{{ datas.age }}</td>
          <td>{{ datas.job }}</td>
          <td>{{ datas.state }}</td>
          <td>{{ datas.remark }}</td>
          <td nzRight="0px" class="edits">
            <a (click)="deleteEmployeeListOneAlert(anIndex)">删除</a>
            <a (click)="eidtEmployeeOnleInfo(anIndex)">修改</a>
          </td>
        </tr>
        <tr [hidden]="!datas.edit">
          <td nzLeft="0px">{{ datas.bianma }} -------下表是： {{ anIndex }}</td>
          <td nzLeft="200px"><input nz-input nzSize="small" [(ngModel)]="datas.name" /></td>
          <td style="text-align:center;"><input nz-input nzSize="small" [(ngModel)]="datas.sex" /></td>
          <td><input nz-input nzSize="small" [(ngModel)]="datas.age" /></td>
          <td><input nz-input nzSize="small" [(ngModel)]="datas.job" /></td>
          <td><input nz-input nzSize="small" [(ngModel)]="datas.state" /></td>
          <td><input nz-input nzSize="small" [(ngModel)]="datas.remark" /></td>
          <td nzRight="0px" class="edits">
            <a (click)="saveEidtEmployeeOnleInfo(anIndex)">确定</a>
            <a (click)="notSaveEidtEmployeeOnleInfo(anIndex)">取消</a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <button nz-button
    (click)="addEmployeeList({ bianma: 'esss-ffff-0000', name: '新增索隆', sex: '1', age: '18', job: '剑客', state: '1', remark: '阿斯顿发' })">新增一条数据</button>
  <button nz-button (click)="employeeList[0].edit=true">修改第一条数据</button>
  <br>
</div>