@import '../../../assets/css/anPublic';
#login{
  position:fixed;
  @include position(0,0,0,0);
  z-index: 1100;
  background:url('../../../assets/images/registerBackground.jpg') no-repeat center center;
  background-size: cover;
  .registerInputGroup{
    @include goodPos(absolute,1);
    @include border();
    padding:50px;
    background:#fff;
    ul{
      li{
        line-height: 26px;
        margin-bottom:10px;
        span{
          display: inline-block;
          width:76px;
          text-align-last:justify;
          text-align:justify;
          text-justify:distribute-all-lines; // 这行必加，兼容ie浏览器
        }
        input{
          width:200px;
        }
        h2{
          @include ftC(14px,green,700);
          text-align: center;
          cursor: pointer;
        }
        h3{
          @include ftC(18px,green,700);
          text-align: center;
        }
      }
    }
  }

}